@import url(/Styles/styles.css);


.section-wishlisted-items .card-dismiss-button i {
    color: var(--wishlisted-color)
}

.section-wishlisted-items .card-buttons-container .btn {
    width: 90%;
    height: auto;
    font-size: var(--h5);
    margin: 0;

}

.section-wishlisted-items .card-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.section-wishlisted-items .card-actions-container {
    display: block;
    margin: 1rem 0;
}